/* Default light mode styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  color: black;
}

/* Dark mode styles */
.container.dark {
  background-color: black;
  color: white;
}

/* Add some spacing between the input, button, and message */
input, button, p, ul, li {
  margin: 10px 0;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}
